* {
    overflow-x: hidden;
}

.Logos{
    overflow: hidden;
}

.barraTop {
    background-color: #fcf7f7;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute; top: 0; left: 0;
    width: 100%;
    border: 100px;
    border-color: #b3b3b5;
    overflow: hidden;
    align-items: center;
}

.conteudoBarraTop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 45px;
    overflow: hidden;
}

.info {
    padding-left: 150px;
    margin: 10px; 
}

.pesquisa {
    padding-left: 65%;
    position: absolute; top: 5%;
}

.button {
    background-color: #30AAA0;
    color: white;
    border: 0;
    border-radius: 4px;
    width: 152px;
    height: 31px;
    text-align: center;
}

.input {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 2px;
    width: 200px;
    height: 37px;
}

.logo {
    margin-top: 50px;
    margin-left: 150px;
    align-items: center;
}

.logo2 {
    margin-top: -85px;
    margin-left: 650px;
}

.menu {
    display: block;
    height: 80px;
    background-color: #1E1B54;
    margin-top: 60px;
    position: absolute; left: 0; right: 0;
    color: white;
    padding: 15px;
    width: 100%;
}

.home {
    width: -18px;
    margin-left: 155px;
}

.paciente {
    margin-top: -18px;
    margin-left: 255px;
}

.profissional {
    margin-top: -18px;
    margin-left: 550px;
}

.ensino {
    margin-top: -18px;
    margin-left: 830px;
}

.hospital {
    margin-top: -18px;
    margin-left: 1055px;
}

.campanha {
    margin-top: -18px;
    margin-left: 1225px;
}

.corPaginaAtual {
    color: #2F9687;
    border-left: 5px;
    border-color: #b3b3b5;
}

.img {
    margin-top: 110px;
    position: absolute; left: 0; right: 0;
}

.fundoEscuro {
    height: 250px;
    background-color: #1E1B54;
    color: #ffffff;
    margin-top: 985px;
    position: absolute; left: 0; right: 0;
}

.links {
    margin-left: 200px;
    padding-top: 15px;
}

.contato {
    margin-left: 575px;
    margin-top: -146px;
}

.apps {
    margin-left: 1030px;
    margin-top: -173px;
}

.fundoClaro {
    height: 40px;
    background-color: #80b2ad;
    color: #ffffff;
    text-align: center;
    padding-top: 21px;
    position: absolute; left: 0; right: 0;
    margin-top: 1200px;
}